@import "../global";

$prefix: #{$globalPrefix}__modal;

##{$prefix} {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  bottom: 0;
  right: 0;
}

.#{$prefix}__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.#{$prefix}__container {
  width: 500px;
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;

  [dark] & {
    background-color: #212121;
  }
}

.#{$prefix}__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.#{$prefix}__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.25;
  color: #065fd4;
  box-sizing: border-box;

  [dark] & {
    color: #3ea6ff;
  }
}

.#{$prefix}__content {
  margin: 1em 0;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);

  [dark] & {
    color: #fff;
  }
}

.#{$prefix}__btn {
  font-size: 0.875em;
  padding: 0.5em 1em;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25em;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
}

.#{$prefix}__btn:focus,
.#{$prefix}__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.#{$prefix}__btn-primary {
  background-color: transparent;
  color: #065fd4;
  border: {
    width: 1px;
    style: solid;
    color: #065fd4;
  }

  [dark] & {
    color: #3ea6ff;
    border-color: #3ea6ff;
  }
}

.#{$prefix}__footer {
  > :not(:last-child) {
    margin-right: 1em;
  }
}

/**************************  \
  Demo Animation Style
\  **************************/
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.#{$prefix}--slide {
  display: none;

  &.is-open {
    display: block;
  }

  .#{$prefix}__container,
  .#{$prefix}__overlay {
    will-change: transform;
  }

  &[aria-hidden="false"] .#{$prefix}__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &[aria-hidden="false"] .#{$prefix}__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &[aria-hidden="true"] .#{$prefix}__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &[aria-hidden="true"] .#{$prefix}__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}
