- var prefix = prefix + '-full-button'

div.ytd-guide-section-renderer(id=prefix)
    a#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer(class=prefix + '__link')
        div(class=prefix + '__icon')
            include ../../assets/tv_off.svg
        span.title.ytd-guide-entry-renderer(class=prefix + '__title') Blocker
