div.style-scope.ytd-mini-guide-renderer(id=prefix + '-button')
    a.yt-simple-endpoint.style-scope.ytd-mini-guide-entry-renderer(role='tab' title='Blocker' aria-label='Blocker' aria-selected='true')
        div.guide-icon.style-scope.ytd-mini-guide-entry-renderer.yt-icon-container.yt-icon
            include ../../assets/tv_off.svg
        span.title.style-scope.ytd-mini-guide-entry-renderer Blocker