- var prefix = prefix + '-compact-button'

div(id=prefix)
    a.ytd-mini-guide-entry-renderer(role='tab' title='Blocker' aria-label='Blocker')
        div.guide-icon.ytd-mini-guide-entry-renderer.yt-icon-container.yt-icon
            include ../../assets/tv_off.svg
        span.title.style-scope.ytd-mini-guide-entry-renderer Blocker