@import "../global";

$prefix: #{$globalPrefix}__settings;

.#{$prefix}__section-header {
  margin: 1em 0 0.5em;
}

.#{$prefix}__restricted-days {
  .#{$prefix}__days-list {
    margin: 0 0 1em;
    padding: 0;

    li {
      list-style: none;
      margin: 0.5em 0;
    }
  }
}

input {
  margin-right: 1em;

  &:not([type='checkbox']) {
    width: 8em;
    box-sizing: border-box;
  }
}

.#{$prefix}__restricted-hours {
  .#{$prefix}__field {
    display: block;
    margin: 1em 0;
  }
}
