@import "../global";

$prefix: #{$globalPrefix}__settings;

.#{$prefix}__section-header {
  margin: 1em 0 0.5em;
}

.#{$prefix}__restricted-days {
  .#{$prefix}__days-list {
    margin: 0 0 1em;
    padding: 0;
  }

  .#{$prefix}__days-input {
    list-style: none;
    margin: 0.5em 0;

    input[type='checkbox'] {
      margin-right: 1em;
    }
  }
}

.#{$prefix}__restricted-hours {
  .#{$prefix}__hour-input,
  .#{$prefix}__limit-input {
    display: block;
    margin: 1em 0;

    > input {
      margin-right: 1em;
      width: 8em;
      box-sizing: border-box;
    }
  }
}

.#{$prefix}__content-font {
  font-size: 14px;
}